modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]
#run = "python /home/runner/3-automation-projects-bk/news_automator.py business"
run = "python /home/runner/3-automation-projects-bk/news_api_client.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "python /home/runner/3-automation-projects/news_automator.py"]
deploymentTarget = "cloudrun"
